bbc_master_pynqz2.cache/
bbc_master_pynqz2.hw/
bbc_master_pynqz2.ip_user_files/
bbc_master_pynqz2.runs/
bbc_master_pynqz2.srcs/sources_1/ip/WatchEvents/WatchEvents.xml
bbc_master_pynqz2.srcs/sources_1/ip/WatchEvents/hdl/
bbc_master_pynqz2.srcs/sources_1/bd/
*.log
*.jou
vivado_pid*
NA/
