iseconfig/
working/
nohup.out
*~
#*
BEEB.MMB
bbc_release_20110918.zip
bbc_release_20110918/
roms/merged1.bit
roms/merged2.bit
src/CpuMon_bd.bmm
ipcore_dir/WatchEvents.asy
ipcore_dir/WatchEvents.gise
ipcore_dir/WatchEvents.ncf
ipcore_dir/WatchEvents.sym
ipcore_dir/WatchEvents.vhd
ipcore_dir/WatchEvents.vho
ipcore_dir/WatchEvents/
ipcore_dir/WatchEvents_flist.txt
ipcore_dir/WatchEvents_xmdf.tcl
ipcore_dir/_xmsgs/
ipcore_dir/coregen.cgp
ipcore_dir/coregen.log
ipcore_dir/gen_WatchEvents.tcl
ipcore_dir/tmp/
ipcore_dir/update_WatchEvents.tcl
