nohup.out
*~
#*
*.bak

not_in_git/


xilinx/working/
xilinx/iseconfig/

roms/tmp/

src/common/AtomBusMon

*_bd.bmm

src/xilinx/ipcore_dir/WatchEvents.asy
src/xilinx/ipcore_dir/WatchEvents.gise
src/xilinx/ipcore_dir/WatchEvents.ncf
src/xilinx/ipcore_dir/WatchEvents.sym
src/xilinx/ipcore_dir/WatchEvents.vhd
src/xilinx/ipcore_dir/WatchEvents.vho
src/xilinx/ipcore_dir/WatchEvents/
src/xilinx/ipcore_dir/WatchEvents_flist.txt
src/xilinx/ipcore_dir/WatchEvents_xmdf.tcl
src/xilinx/ipcore_dir/_xmsgs/
src/xilinx/ipcore_dir/coregen.cgp
src/xilinx/ipcore_dir/coregen.log
src/xilinx/ipcore_dir/gen_WatchEvents.tcl
src/xilinx/ipcore_dir/tmp/
src/xilinx/ipcore_dir/update_WatchEvents.tcl

src/xilinx/ipcore_dir/ph_fifo_core_spartan6.asy
src/xilinx/ipcore_dir/ph_fifo_core_spartan6.gise
src/xilinx/ipcore_dir/ph_fifo_core_spartan6.ncf
src/xilinx/ipcore_dir/ph_fifo_core_spartan6.sym
src/xilinx/ipcore_dir/ph_fifo_core_spartan6.vhd
src/xilinx/ipcore_dir/ph_fifo_core_spartan6.vho
src/xilinx/ipcore_dir/ph_fifo_core_spartan6/
src/xilinx/ipcore_dir/ph_fifo_core_spartan6_flist.txt
src/xilinx/ipcore_dir/ph_fifo_core_spartan6_xmdf.tcl
src/xilinx/ipcore_dir/gen_ph_fifo_core_spartan6.tcl
src/xilinx/ipcore_dir/update_ph_fifo_core_spartan6.tcl

xilinx/spec_next_config_master_bd.bmm
xilinx/spec_next_config_modelb_bd.bmm

altera/db/
altera/incremental_db/
altera/output_files/
altera/bbc_micro_de1.qws

releases/

firmware/config.rom
firmware/config.mem
firmware/version.asm

**/impl/pnr
**/impl/gwsynthesis
**/impl/temp

**/vunit_out
