# Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

# This is necessary because it feeds a DCM and a PLL
NET "clk_32M00" CLOCK_DEDICATED_ROUTE = FALSE;

# 27MHz VGA clock domain
NET "clock_27" TNM_NET = clk_period_grp_27;
TIMESPEC TS_clk_period_27 = PERIOD "clk_period_grp_27" 37.04ns HIGH;

# 48MHz main clock
NET "clock_48" TNM_NET = clk_period_grp_48;
TIMESPEC TS_clk_period_48 = PERIOD "clk_period_grp_48" 20.83ns HIGH;

# 96MHz VGA clock
NET "clock_96" TNM_NET = clk_period_grp_96;
TIMESPEC TS_clk_period_96 = PERIOD "clk_period_grp_96" 10.41ns HIGH;

# 16MHz AVR clock
NET "clock_avr" TNM_NET = clk_period_grp_avr;
TIMESPEC TS_clk_period_avr = PERIOD "clk_period_grp_avr" 62.5ns HIGH;

# Avoid timing warnings for cross domain signals (which are synchronized anyway)
NET "clock_27"                  TNM_NET = FFS "clk_domain_27";
NET "clock_48"                  TNM_NET = FFS "clk_domain_48";
NET "clock_avr"                 TNM_NET = FFS "clk_domain_avr";

# Ignore timing paths from the 48MHz to the 27MHz domain
TIMESPEC "TS_CrossDomain_48_27" = FROM "clk_domain_48" TO "clk_domain_27" TIG;

# Ignore timing paths between the 48MHz and the AVR domain
TIMESPEC "TS_CrossDomain_48_avr" = FROM "clk_domain_48" TO "clk_domain_avr" TIG;
TIMESPEC "TS_CrossDomain_avr_48" = FROM "clk_domain_avr" TO "clk_domain_48" TIG;

#####################################
# SRAM Interface - runs over multiple cycles
#####################################

NET SRAM_nOE      TIG;
NET SRAM_A(*)     TIG;
NET SRAM_D(*)     TIG;
NET SRAM_nWE      TIG;

#####################################
# FLASH Interface runs at 16 MHz
#####################################

NET FLASH_CS      TIG;
NET FLASH_SI      TIG;
NET FLASH_CK      TIG;
NET FLASH_SO      TIG;

#####################################
# Non critical inputs
#####################################

NET ps2_kbd_clk   TIG;
NET ps2_kbd_data  TIG;
NET ERST          TIG;
NET SDMISO        TIG;
NET JOYSTICK1(*)  TIG;
NET DIP(*)        TIG;
NET avr_RxD       TIG;
NET SW1           TIG;

#####################################
# Non critical outputs
#####################################

NET red(*)        TIG;
NET green(*)      TIG;
NET blue(*)       TIG;
NET vsync         TIG;
NET hsync         TIG;
NET audioL        TIG;
NET audioR        TIG;
NET SDCLK         TIG;
NET SDMOSI        TIG;
NET avr_TxD       TIG;
NET ARDUINO_RESET TIG;
NET SDSS          TIG;
NET accel_io(*)   TIG;

#####################################
# Pin placements
#####################################

NET clk_32M00       LOC="P94"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # CLK
NET SDMISO          LOC="P118" | IOSTANDARD=LVTTL;                       # A2
NET ps2_kbd_data    LOC="P120" | IOSTANDARD=LVTTL | PULLUP ;             # A4
NET ps2_kbd_clk     LOC="P121" | IOSTANDARD=LVTTL | PULLUP ;             # A5
NET SDMOSI          LOC="P115" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # B0
NET SDCLK           LOC="P114" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # B1
NET SDSS            LOC="P112" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # B2
NET ERST            LOC="P102" | IOSTANDARD=LVTTL;                       # B5
NET hsync           LOC="P99"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C0
NET vsync           LOC="P97"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C1
NET blue(0)         LOC="P93"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C2
NET blue(1)         LOC="P83"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C5
NET blue(2)         LOC="P81"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C6
NET blue(3)         LOC="P79"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C7
NET green(0)        LOC="P75"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C8
NET green(1)        LOC="P67"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C9
NET green(2)        LOC="P62"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C10
NET green(3)        LOC="P59"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C11
NET red(3)          LOC="P57"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C12
NET red(2)          LOC="P55"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C13
NET red(1)          LOC="P50"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C14
NET red(0)          LOC="P47"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C15
NET audioL          LOC="P88"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C3
NET audioR          LOC="P85"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # C4

NET SRAM_A(0)       LOC="P7"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR0
NET SRAM_A(1)       LOC="P8"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR1
NET SRAM_A(2)       LOC="P9"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR2
NET SRAM_A(3)       LOC="P10"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR3
NET SRAM_A(4)       LOC="P11"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR4
NET SRAM_A(5)       LOC="P5"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR5
NET SRAM_A(6)       LOC="P2"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR6
NET SRAM_A(7)       LOC="P1"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR7
NET SRAM_A(8)       LOC="P143" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR8
NET SRAM_A(9)       LOC="P142" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR9
NET SRAM_A(10)      LOC="P43"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR10
NET SRAM_A(11)      LOC="P41"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR11
NET SRAM_A(12)      LOC="P40"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR12
NET SRAM_A(13)      LOC="P35"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR13
NET SRAM_A(14)      LOC="P34"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR14
NET SRAM_A(15)      LOC="P27"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR15
NET SRAM_A(16)      LOC="P29"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR16
NET SRAM_A(17)      LOC="P33"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR17
NET SRAM_A(18)      LOC="P32"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR18
NET SRAM_A(19)      LOC="P44"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR19
NET SRAM_A(20)      LOC="P30"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_ADDR20
NET SRAM_D(0)       LOC="P14"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_DATA0
NET SRAM_D(1)       LOC="P15"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_DATA1
NET SRAM_D(2)       LOC="P16"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_DATA2
NET SRAM_D(3)       LOC="P17"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_DATA3
NET SRAM_D(4)       LOC="P21"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_DATA4
NET SRAM_D(5)       LOC="P22"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_DATA5
NET SRAM_D(6)       LOC="P23"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_DATA6
NET SRAM_D(7)       LOC="P24"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_DATA7
NET SRAM_nCS        LOC="P12"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_CE
NET SRAM_nWE        LOC="P6"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_WE
NET SRAM_nOE        LOC="P26"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # SRAM_OE

NET ARDUINO_RESET   LOC="P139" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # ARDUINO_RESET
NET SW1             LOC="P104" | IOSTANDARD=LVTTL;                       # SW1

NET FLASH_CS        LOC="P38"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # FLASH_CS
NET FLASH_CK        LOC="P70"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # FLASH_CK
NET FLASH_SI        LOC="P64"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # FLASH_SI
NET FLASH_SO        LOC="P65"  | IOSTANDARD=LVTTL | PULLUP;              # FLASH_SO

NET avr_RxD         LOC="P46"  | IOSTANDARD=LVTTL;                       # RX
NET avr_TxD         LOC="P141" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # TX

NET DIP<0>          LOC="P111" | IOSTANDARD=LVTTL;                       #
NET DIP<1>          LOC="P105" | IOSTANDARD=LVTTL;                       #
NET DIP<2>          LOC="P101" | IOSTANDARD=LVTTL;                       #
NET DIP<3>          LOC="P100" | IOSTANDARD=LVTTL;                       #

NET JOYSTICK1<0>    LOC="P134" | IOSTANDARD=LVTTL;                       # A13
NET JOYSTICK1<1>    LOC="P132" | IOSTANDARD=LVTTL;                       # A11
NET JOYSTICK1<2>    LOC="P127" | IOSTANDARD=LVTTL;                       # A9
NET JOYSTICK1<3>    LOC="P126" | IOSTANDARD=LVTTL;                       # A8
#NET JOYSTICK1<4>    LOC="P123" | IOSTANDARD=LVTTL;                       # A6
NET JOYSTICK1<4>    LOC="P133" | IOSTANDARD=LVTTL;                       # A12
#NET JOYSTICK1<6>    LOC="P131" | IOSTANDARD=LVTTL;                       # A10
#NET JOYSTICK1<7>    LOC="P124" | IOSTANDARD=LVTTL;                       # A7

#NET ps2_mse_clk     LOC="P74"  | IOSTANDARD=LVTTL | PULLUP ;             # D8
#NET ps2_mse_data    LOC="P66"  | IOSTANDARD=LVTTL | PULLUP ;             # D9
#NET LED1            LOC="P56"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D12
#NET LED2            LOC="P51"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D13
#NET JOYSTICK2<0>    LOC="P84"  | IOSTANDARD=LVTTL | PULLUP ;             # D4
#NET JOYSTICK2<1>    LOC="P87"  | IOSTANDARD=LVTTL | PULLUP ;             # D3
#NET JOYSTICK2<2>    LOC="P92"  | IOSTANDARD=LVTTL | PULLUP ;             # D2
#NET JOYSTICK2<3>    LOC="P95"  | IOSTANDARD=LVTTL | PULLUP ;             # D1
##NET JOYSTICK2<4>    LOC="P98"  | IOSTANDARD=LVTTL | PULLUP ;             # D0
#NET JOYSTICK2<4>    LOC="P82"  | IOSTANDARD=LVTTL | PULLUP ;             # D5
##NET JOYSTICK2<6>    LOC="P80"  | IOSTANDARD=LVTTL | PULLUP ;             # D6
##NET JOYSTICK2<7>    LOC="P78"  | IOSTANDARD=LVTTL | PULLUP ;             # D7


NET "accel_io<0>"   LOC="P98"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;
NET "accel_io<1>"   LOC="P95"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW | PULLUP ;
NET "accel_io<2>"   LOC="P92"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW | PULLUP ;
NET "accel_io<3>"   LOC="P87"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW | PULLUP ;
NET "accel_io<4>"   LOC="P84"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW | PULLUP ;
NET "accel_io<5>"   LOC="P82"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW | PULLUP ;
NET "accel_io<6>"   LOC="P80"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;
NET "accel_io<7>"   LOC="P78"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;
NET "accel_io<8>"   LOC="P74"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW | PULLDOWN ;  # (D0) Ensure model B boots if Pi not present
NET "accel_io<9>"   LOC="P66"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;
#NET "accel_io<8>"  LOC="P74"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW | PULLUP;     # ps2_mse_clk  needs a pullup
#NET "accel_io<9>"  LOC="P66"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW | PULLUP;     # ps2_mse_data needs a pullup
NET "accel_io<10>"  LOC="P61"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;
NET "accel_io<11>"  LOC="P58"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;
NET "accel_io<12>"  LOC="P56"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;
NET "accel_io<13>"  LOC="P51"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;
NET "accel_io<14>"  LOC="P48"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;
NET "accel_io<15>"  LOC="P39"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLOW;


#NET uart_RxD           LOC="P116" | IOSTANDARD=LVTTL;                       # A0
#NET uart_TxD        LOC="P117" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # A1
#NET charSet         LOC="P111" | IOSTANDARD=LVTTL;                       # B3

#NET SD_CD           LOC="P119" | IOSTANDARD=LVTTL;                       # A3
#NET SW_LEFT         LOC="P111" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # B3
#NET SW_UP           LOC="P105" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # B4
#NET SW_DOWN         LOC="P101" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # B6
#NET SW_RIGHT        LOC="P100" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # B7
#NET TEST_5     LOC="P98"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D0
#NET TEST_4     LOC="P95"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D1
#NET TEST_3     LOC="P92"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D2
#NET TEST_2     LOC="P87"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D3
#NET TEST_1     LOC="P84"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D4
#NET TEST_6     LOC="P82"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D5
#NET TEST_7     LOC="P80"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D6
#NET TEST_9     LOC="P78"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D7
#NET AUDIO2_RIGHT    LOC="P61"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D10
#NET AUDIO2_LEFT     LOC="P58"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D11
#NET LED3            LOC="P48"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D14
#NET LED4            LOC="P39"  | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # D15
#NET JTAG_TMS        LOC="P107" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # JTAG_TMS
#NET JTAG_TCK        LOC="P109" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # JTAG_TCK
#NET JTAG_TDI        LOC="P110" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # JTAG_TDI
#NET JTAG_TDO        LOC="P106" | IOSTANDARD=LVTTL | DRIVE=2 | SLEW=SLOW; # JTAG_TDO

#